<h2>card works!</h2>

<h4>Using Mat-Card</h4>
<mat-card class="example-card">
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-header>
      <mat-card-title>Shiba Inu:-</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p>{{ longText }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <h4>Using Class-Card</h4>

<div class="container">
    <div class="card">
        <h3>Dog Breed</h3>
        <div class="card-body">
            <div class="card-title">Shiba Inu:-</div>
            <div class="card-text">
                <p>This card has divider and indeterminate progress as footer</p>
                <p>{{longText}}</p>
            </div>
            <div>
                <button>Like</button>
                <button>Share</button>
            </div>
        </div>
    </div>
</div>